
 #calculatorBody{

     width:500px;
     height: 700px;
     position: relative;
    border: 2px black;
    background-color:grey;
     margin-top: 50px;

}
 #number{
     position: absolute;
     bottom: 90px;
     left: 0px;
     width: 300px;
     height: 400px;

 }
 #operator{

     position: absolute;
     bottom: 90px;
     right: 0px;
     width: 200px;
     height: 400px;

 }
 #monitor{
     height: 80px;
     margin-top: 18px;
    width: 400px;
 }
 .number{
     width: 50px;
     height: 50px;
     margin-left: 40px;
     height: 50px;
     margin-top: 40px;
 }
 .operator{
     width: 100px;
     height: 50px;
     margin-left: 40px;
     height: 50px;
    margin-top: 40px;
     margin-right: 40px;

 }
 #equal{
     position: absolute;
     bottom: 40px;
     width: 300px;
     height: 50px;
     left: 40px;

 }